:host {
  background-color: #FAF8F6;
  height: auto !important;
  position: relative;
}
.nav-overlay {
  position: absolute;
  top: 37px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 80%;
  margin: auto;
  height: 100vh;

  /*overflow: hidden;*/

  .cards-container {
    display: flex;
    bottom: 10px;
    gap: 25px;
    .card {
      width: 368px;
      height: 540px;
      border-radius: 40px;
      h3 {
        /* Cat */
        margin-top: 27px;
        width: 60px;
        height: 37px;
        left: 0px;
        top: 567px;

        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 37px;
        /* identical to box height */

        color: #022664;


      }
    }

    #catcard {
      background-color: #642A0D;
      img {
        width: 440px;
        margin-top: 17px;

      }
      z-index: 100;

    }
    #othercard {
      background-color: #898843;
      img {
        width: 364px;
        margin-top: 182px;
      }
    }
    #dogcard {
      background-color: #D4A764;

      img {
        width: 440px;
        margin-top: 34px;
        margin-left: -34px;
      }
    }
  }

  .nav-overlay {
    position: absolute;
    top: 37px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .text-container {
    margin-top: 100px;
    color: white;
    z-index: 1;
    text-align: center;

    h1 {
      /* Your Pet. Our Priority. */

      /* Dive Into Our Best Pet Care Tips! */

      width: 804px;
      height: 46px;

      font-family: 'League Spartan';
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 46px;
      /* identical to box height */

      color: #022664;


      /* Inside auto layout */
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;


      text-align: left;
      margin-bottom: 8px;
    }
    h2 {
      /* VetSync – pet care app with reminders, expert tips and health tracking in one place. */

      /* Select the category */
      text-align: left;
      width: 804px;
      height: 22px;

      font-family: 'League Spartan';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 22px;
      /* identical to box height */

      color: #022664;


      /* Inside auto layout */
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;

    }

  }

}