:host {
  display: block;
  height: 100vh;


}

.nav-overlay {
  position: absolute;
  top: 37px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: column;

  & * {
    scroll-snap-align: start;
    height: 100vh;
    flex-shrink: 0;
  }
}

app-page1 {
  height: 100vh;
  flex-shrink: 0;
}

